{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <table id="iotagent" class="display">
                <thead>
                <tr>
                    <th>Device id</th>
                    <th>Type</th>
                    <th>MQTT User</th>
                    <th>MQTT Topic</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
    <script type="application/javascript">
        $(function () {
            var table = $('#iotagent').DataTable({
                "pageLength": 10, "ajax": "/iotagent/devices_to_json", "columnDefs": [{
                    "targets": -1,
                    "defaultContent": "<button class=\"btn btn-default\" type=\"button\" ><span class=\"pficon pficon-delete\"></span></button>"
                }]
            });

            $('#iotagent tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                BootstrapDialog.confirm('Would you like to remove device "' + data[0] + '" ?', function (result) {
                    if (result) {
                        $.ajax({
                            url: "/iotagent/delete_device",
                            method: "GET",
                            data: {"device_id": data[0]},
                            success: function (data) {
                                table.ajax.reload();
                            }
                        });
                    } else {
                    }
                });

            });
        })
    </script>
{% endblock %}
